<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<th>employee_id</th>
			<th>first_name</th>
			<th>job_id</th>
		</tr>
		<tbody>
			<tr th:each="item : ${empList}">
				<td th:text="${item.employeeId}"></td>
				<td th:text="${item.firstName}"></td>
				<td th:text="${item.jobId}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>